In [1]:
import numpy as np
import pandas as pd
import copy
from pandas import read_csv
filename='C:/Users/Chimata/Desktop/mlfinalyearproject/studentdetailsfinal.csv'
data = read_csv(filename)
data.head(5)

,year,branch,gender,type,tenth,twelve,higher_education,take_notes,prefer_tostudy,hoursstudy,time_relaxing,studymode,active_backlogs,backlog_history,participate_activities,attendance,cgpa,cgpaup,backlog,grade
0,4,CSE,Male,H,93.0,93.0,Maybe,No,Just before exam,0,>5 hours,Online Tutorials,4 & above,6,Occasionally,80-90,5.00,5.00,4,Low
1,4,CSE,Male,H,97.0,97.6,Maybe,Occasionally,Daily,1,2-5 hours,"Online Tutorials, Class notes, Textbook",0,0,Occasionally,above 90,9.27,9.27,0,Excellent
2,4,CSE,Male,D,88.0,94.2,Maybe,Occasionally,Just before exam,0,>5 hours,Class notes,0,4,Occasionally,80-90,6.20,6.20,0,Below_average
3,4,CSE,Male,D,88.0,96.7,Maybe,Yes,Daily,2,2-5 hours,"Online Tutorials, Class notes, Textbook",0,0,Always,above 90,7.36,7.36,0,Average
4,4,CSE,Male,H,97.0,93.5,No,No,Just before exam,0,>5 hours,"Online Tutorials, Class notes, Textbook",0,0,Occasionally,above 90,8.06,8.06,0,Good

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 562 entries, 0 to 561
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   year                    562 non-null    int64
 1   branch                  562 non-null    object
 2   gender                  562 non-null    object
 3   type                    562 non-null    object
 4   tenth                   562 non-null    float64
 5   twelve                  562 non-null    float64
 6   higher_education        562 non-null    object
 7   take_notes              562 non-null    object
 8   prefer_tostudy          562 non-null    object
 9   hoursstudy              562 non-null    int64
 10  time_relaxing           562 non-null    object
 11  studymode               562 non-null    object
 12  active_backlogs         562 non-null    object
 13  backlog_history         562 non-null    int64
 14  participate_activities  562 non-null    object
 15  attendance              562 non-null    object
 16  cgpa                    562 non-null    float64
 17  cgpaup                  562 non-null    float64
 18  backlog                 562 non-null    int64
 19  grade                   562 non-null    object
dtypes: float64(4), int64(4), object(12)
memory usage: 87.9+ KB

In [3]:
data.loc[data['tenth'] <=10, 'tenth'] = data['tenth']*10

In [4]:
data.loc[data['twelve'] <=10, 'twelve'] = data['twelve']*10

In [5]:
data.loc[data['twelve'] >100, 'twelve'] = data['twelve']/10

In [6]:
data.loc[data['cgpa'] >10, 'cgpa'] = data['cgpa']/10

In [7]:
data.head(10)

,year,branch,gender,type,tenth,twelve,higher_education,take_notes,prefer_tostudy,hoursstudy,time_relaxing,studymode,active_backlogs,backlog_history,participate_activities,attendance,cgpa,cgpaup,backlog,grade
0,4,CSE,Male,H,93.0,93.0,Maybe,No,Just before exam,0,>5 hours,Online Tutorials,4 & above,6,Occasionally,80-90,5.00,5.00,4,Low
1,4,CSE,Male,H,97.0,97.6,Maybe,Occasionally,Daily,1,2-5 hours,"Online Tutorials, Class notes, Textbook",0,0,Occasionally,above 90,9.27,9.27,0,Excellent
2,4,CSE,Male,D,88.0,94.2,Maybe,Occasionally,Just before exam,0,>5 hours,Class notes,0,4,Occasionally,80-90,6.20,6.20,0,Below_average
3,4,CSE,Male,D,88.0,96.7,Maybe,Yes,Daily,2,2-5 hours,"Online Tutorials, Class notes, Textbook",0,0,Always,above 90,7.36,7.36,0,Average
4,4,CSE,Male,H,97.0,93.5,No,No,Just before exam,0,>5 hours,"Online Tutorials, Class notes, Textbook",0,0,Occasionally,above 90,8.06,8.06,0,Good
5,4,CSE,Female,D,95.0,96.2,Yes,Yes,Daily,3,2-5 hours,"Online Tutorials, Class notes",0,0,Always,above 90,9.14,9.14,0,Excellent
6,4,CSE,Male,D,87.0,97.0,No,Yes,Just before exam,1,>5 hours,"Online Tutorials, Class notes",0,0,Never,80-90,7.30,7.30,0,Average
7,4,ECE,Male,H,88.0,83.2,Yes,Occasionally,Just before exam,0,2-5 hours,"Online Tutorials, Class notes, Textbook",4 & above,8,Occasionally,80-90,5.00,5.00,4,Low
8,4,ECE,Male,H,99.0,99.0,Maybe,Yes,Daily,3,<2 hours,"Online Tutorials, Class notes, Textbook",4 & above,5,Always,above 90,5.08,5.08,4,Low
9,4,CSE,Male,D,92.0,87.0,No,No,Just before exam,0,>5 hours,"Online Tutorials, Class notes",0,1,Occasionally,80-90,6.46,6.46,0,Below_average

In [8]:
unique=data.nunique()
print(unique)

year                        4
branch                      6
gender                      2
type                        2
tenth                      60
twelve                    132
higher_education            3
take_notes                  3
prefer_tostudy              2
hoursstudy                  4
time_relaxing               3
studymode                   7
active_backlogs             5
backlog_history            19
participate_activities      3
attendance                  6
cgpa                      201
cgpaup                    201
backlog                     5
grade                       5
dtype: int64

In [9]:
data.isnull().any().sum()

0

In [10]:
data.year.value_counts()

4    273
3    109
1    102
2     78
Name: year, dtype: int64

In [11]:
data.branch.value_counts()

CSE      257
ECE      122
Other     68
MEE       52
EEE       38
EIE       25
Name: branch, dtype: int64

In [12]:
data=pd.get_dummies(data,columns=['branch'],drop_first=True)
data.head(5)

,year,gender,type,tenth,twelve,higher_education,take_notes,prefer_tostudy,hoursstudy,time_relaxing,...,attendance,cgpa,cgpaup,backlog,grade,branch_ECE,branch_EEE,branch_EIE,branch_MEE,branch_Other
0,4,Male,H,93.0,93.0,Maybe,No,Just before exam,0,>5 hours,...,80-90,5.00,5.00,4,Low,0,0,0,0,0
1,4,Male,H,97.0,97.6,Maybe,Occasionally,Daily,1,2-5 hours,...,above 90,9.27,9.27,0,Excellent,0,0,0,0,0
2,4,Male,D,88.0,94.2,Maybe,Occasionally,Just before exam,0,>5 hours,...,80-90,6.20,6.20,0,Below_average,0,0,0,0,0
3,4,Male,D,88.0,96.7,Maybe,Yes,Daily,2,2-5 hours,...,above 90,7.36,7.36,0,Average,0,0,0,0,0
4,4,Male,H,97.0,93.5,No,No,Just before exam,0,>5 hours,...,above 90,8.06,8.06,0,Good,0,0,0,0,0

In [13]:
data.gender.value_counts()

Male      349
Female    213
Name: gender, dtype: int64

In [14]:
data=pd.get_dummies(data,columns=['gender','type','studymode'],drop_first=True)
data.head(5)

,year,tenth,twelve,higher_education,take_notes,prefer_tostudy,hoursstudy,time_relaxing,active_backlogs,backlog_history,...,branch_MEE,branch_Other,gender_Male,type_H,"studymode_Class notes, Textbook",studymode_Online Tutorials,"studymode_Online Tutorials, Class notes","studymode_Online Tutorials, Class notes, Textbook","studymode_Online Tutorials, Textbook",studymode_Textbook
0,4,93.0,93.0,Maybe,No,Just before exam,0,>5 hours,4 & above,6,...,0,0,1,1,0,1,0,0,0,0
1,4,97.0,97.6,Maybe,Occasionally,Daily,1,2-5 hours,0,0,...,0,0,1,1,0,0,0,1,0,0
2,4,88.0,94.2,Maybe,Occasionally,Just before exam,0,>5 hours,0,4,...,0,0,1,0,0,0,0,0,0,0
3,4,88.0,96.7,Maybe,Yes,Daily,2,2-5 hours,0,0,...,0,0,1,0,0,0,0,1,0,0
4,4,97.0,93.5,No,No,Just before exam,0,>5 hours,0,0,...,0,0,1,1,0,0,0,1,0,0

In [15]:
data.higher_education.value_counts()

Yes      261
Maybe    203
No        98
Name: higher_education, dtype: int64

In [16]:
data['higher_education'].replace(['Maybe','No','Yes'],[1,0,2],inplace=True)
data.head(5)

,year,tenth,twelve,higher_education,take_notes,prefer_tostudy,hoursstudy,time_relaxing,active_backlogs,backlog_history,...,branch_MEE,branch_Other,gender_Male,type_H,"studymode_Class notes, Textbook",studymode_Online Tutorials,"studymode_Online Tutorials, Class notes","studymode_Online Tutorials, Class notes, Textbook","studymode_Online Tutorials, Textbook",studymode_Textbook
0,4,93.0,93.0,1,No,Just before exam,0,>5 hours,4 & above,6,...,0,0,1,1,0,1,0,0,0,0
1,4,97.0,97.6,1,Occasionally,Daily,1,2-5 hours,0,0,...,0,0,1,1,0,0,0,1,0,0
2,4,88.0,94.2,1,Occasionally,Just before exam,0,>5 hours,0,4,...,0,0,1,0,0,0,0,0,0,0
3,4,88.0,96.7,1,Yes,Daily,2,2-5 hours,0,0,...,0,0,1,0,0,0,0,1,0,0
4,4,97.0,93.5,0,No,Just before exam,0,>5 hours,0,0,...,0,0,1,1,0,0,0,1,0,0

In [17]:
data.take_notes.value_counts()

Yes             276
Occasionally    198
No               88
Name: take_notes, dtype: int64

In [18]:
data['take_notes'].replace(['Occasionally','No','Yes'],[1,0,2],inplace=True)
data.head(5)

,year,tenth,twelve,higher_education,take_notes,prefer_tostudy,hoursstudy,time_relaxing,active_backlogs,backlog_history,...,branch_MEE,branch_Other,gender_Male,type_H,"studymode_Class notes, Textbook",studymode_Online Tutorials,"studymode_Online Tutorials, Class notes","studymode_Online Tutorials, Class notes, Textbook","studymode_Online Tutorials, Textbook",studymode_Textbook
0,4,93.0,93.0,1,0,Just before exam,0,>5 hours,4 & above,6,...,0,0,1,1,0,1,0,0,0,0
1,4,97.0,97.6,1,1,Daily,1,2-5 hours,0,0,...,0,0,1,1,0,0,0,1,0,0
2,4,88.0,94.2,1,1,Just before exam,0,>5 hours,0,4,...,0,0,1,0,0,0,0,0,0,0
3,4,88.0,96.7,1,2,Daily,2,2-5 hours,0,0,...,0,0,1,0,0,0,0,1,0,0
4,4,97.0,93.5,0,0,Just before exam,0,>5 hours,0,0,...,0,0,1,1,0,0,0,1,0,0

In [19]:
data.prefer_tostudy.value_counts()

Just before exam    411
Daily               151
Name: prefer_tostudy, dtype: int64

In [20]:
data['prefer_tostudy'].replace(['Just before exam','Daily'],[1,2],inplace=True)
data.head(5)

,year,tenth,twelve,higher_education,take_notes,prefer_tostudy,hoursstudy,time_relaxing,active_backlogs,backlog_history,...,branch_MEE,branch_Other,gender_Male,type_H,"studymode_Class notes, Textbook",studymode_Online Tutorials,"studymode_Online Tutorials, Class notes","studymode_Online Tutorials, Class notes, Textbook","studymode_Online Tutorials, Textbook",studymode_Textbook
0,4,93.0,93.0,1,0,1,0,>5 hours,4 & above,6,...,0,0,1,1,0,1,0,0,0,0
1,4,97.0,97.6,1,1,2,1,2-5 hours,0,0,...,0,0,1,1,0,0,0,1,0,0
2,4,88.0,94.2,1,1,1,0,>5 hours,0,4,...,0,0,1,0,0,0,0,0,0,0
3,4,88.0,96.7,1,2,2,2,2-5 hours,0,0,...,0,0,1,0,0,0,0,1,0,0
4,4,97.0,93.5,0,0,1,0,>5 hours,0,0,...,0,0,1,1,0,0,0,1,0,0

In [21]:
data.hoursstudy.value_counts()

1    244
0    151
2    119
3     48
Name: hoursstudy, dtype: int64

In [22]:
data.time_relaxing.value_counts()

2-5 hours    283
>5 hours     215
<2 hours      64
Name: time_relaxing, dtype: int64

In [23]:
data['time_relaxing'].replace(['>5 hours','2-5 hours','<2 hours'],[1,2,3],inplace=True)
data.head(5)

,year,tenth,twelve,higher_education,take_notes,prefer_tostudy,hoursstudy,time_relaxing,active_backlogs,backlog_history,...,branch_MEE,branch_Other,gender_Male,type_H,"studymode_Class notes, Textbook",studymode_Online Tutorials,"studymode_Online Tutorials, Class notes","studymode_Online Tutorials, Class notes, Textbook","studymode_Online Tutorials, Textbook",studymode_Textbook
0,4,93.0,93.0,1,0,1,0,1,4 & above,6,...,0,0,1,1,0,1,0,0,0,0
1,4,97.0,97.6,1,1,2,1,2,0,0,...,0,0,1,1,0,0,0,1,0,0
2,4,88.0,94.2,1,1,1,0,1,0,4,...,0,0,1,0,0,0,0,0,0,0
3,4,88.0,96.7,1,2,2,2,2,0,0,...,0,0,1,0,0,0,0,1,0,0
4,4,97.0,93.5,0,0,1,0,1,0,0,...,0,0,1,1,0,0,0,1,0,0

In [24]:
data.active_backlogs.value_counts()

0            460
4 & above     36
1             33
2             21
3             12
Name: active_backlogs, dtype: int64

In [25]:
data['active_backlogs'].replace(['4 & above','0','1','2','3'],[4,0,1,2,3],inplace=True)
data.head(5)

,year,tenth,twelve,higher_education,take_notes,prefer_tostudy,hoursstudy,time_relaxing,active_backlogs,backlog_history,...,branch_MEE,branch_Other,gender_Male,type_H,"studymode_Class notes, Textbook",studymode_Online Tutorials,"studymode_Online Tutorials, Class notes","studymode_Online Tutorials, Class notes, Textbook","studymode_Online Tutorials, Textbook",studymode_Textbook
0,4,93.0,93.0,1,0,1,0,1,4,6,...,0,0,1,1,0,1,0,0,0,0
1,4,97.0,97.6,1,1,2,1,2,0,0,...,0,0,1,1,0,0,0,1,0,0
2,4,88.0,94.2,1,1,1,0,1,0,4,...,0,0,1,0,0,0,0,0,0,0
3,4,88.0,96.7,1,2,2,2,2,0,0,...,0,0,1,0,0,0,0,1,0,0
4,4,97.0,93.5,0,0,1,0,1,0,0,...,0,0,1,1,0,0,0,1,0,0

In [26]:
data.backlog_history.value_counts()

0     422
1      45
2      15
3      12
4      12
5      12
7      10
6       8
12      5
8       5
10      4
11      3
9       2
18      2
19      1
13      1
14      1
16      1
21      1
Name: backlog_history, dtype: int64

In [27]:
data.participate_activities.value_counts()

Occasionally    346
Always          145
Never            71
Name: participate_activities, dtype: int64

In [28]:
data['participate_activities'].replace(['Occasionally','Always','Never'],[1,2,0],inplace=True)
data['participate_activities'].head(5)

0    1
1    1
2    1
3    2
4    1
Name: participate_activities, dtype: int64

In [29]:
data.attendance.value_counts()

80-90 %       227
above 90 %    158
75-80 %       155
80-90          11
above 90       10
75-80           1
Name: attendance, dtype: int64

In [30]:
data['attendance'].replace(['75-80 %','80-90 %','above 90 %','75-80','80-90','above 90'],[0,1,2,0,1,2],inplace=True)
data['attendance'].head(5)

0    1
1    2
2    1
3    2
4    2
Name: attendance, dtype: int64

In [31]:
data.active_backlogs.value_counts()

0    460
4     36
1     33
2     21
3     12
Name: active_backlogs, dtype: int64

In [32]:
data=pd.get_dummies(data,columns=['year'],drop_first=True)

In [33]:
data

,tenth,twelve,higher_education,take_notes,prefer_tostudy,hoursstudy,time_relaxing,active_backlogs,backlog_history,participate_activities,...,type_H,"studymode_Class notes, Textbook",studymode_Online Tutorials,"studymode_Online Tutorials, Class notes","studymode_Online Tutorials, Class notes, Textbook","studymode_Online Tutorials, Textbook",studymode_Textbook,year_2,year_3,year_4
0,93.0,93.0,1,0,1,0,1,4,6,1,...,1,0,1,0,0,0,0,0,0,1
1,97.0,97.6,1,1,2,1,2,0,0,1,...,1,0,0,0,1,0,0,0,0,1
2,88.0,94.2,1,1,1,0,1,0,4,1,...,0,0,0,0,0,0,0,0,0,1
3,88.0,96.7,1,2,2,2,2,0,0,2,...,0,0,0,0,1,0,0,0,0,1
4,97.0,93.5,0,0,1,0,1,0,0,1,...,1,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
557,90.0,80.0,1,1,1,1,2,0,0,1,...,0,0,0,1,0,0,0,1,0,0
558,98.0,97.0,0,0,2,1,1,0,0,1,...,0,1,0,0,0,0,0,0,0,0
559,89.0,89.0,0,2,1,1,1,2,0,1,...,1,0,0,0,1,0,0,0,1,0
560,89.0,90.0,2,0,2,0,1,0,0,1,...,1,0,0,0,0,0,0,0,1,0
561,83.0,91.0,0,0,1,0,1,4,7,2,...,0,1,0,0,0,0,0,0,0,0

In [34]:
data.dtypes

tenth                                                float64
twelve                                               float64
higher_education                                       int64
take_notes                                             int64
prefer_tostudy                                         int64
hoursstudy                                             int64
time_relaxing                                          int64
active_backlogs                                        int64
backlog_history                                        int64
participate_activities                                 int64
attendance                                             int64
cgpa                                                 float64
cgpaup                                               float64
backlog                                                int64
grade                                                 object
branch_ECE                                             uint8
branch_EEE                                             uint8
branch_EIE                                             uint8
branch_MEE                                             uint8
branch_Other                                           uint8
gender_Male                                            uint8
type_H                                                 uint8
studymode_Class notes, Textbook                        uint8
studymode_Online Tutorials                             uint8
studymode_Online Tutorials, Class notes                uint8
studymode_Online Tutorials, Class notes, Textbook      uint8
studymode_Online Tutorials, Textbook                   uint8
studymode_Textbook                                     uint8
year_2                                                 uint8
year_3                                                 uint8
year_4                                                 uint8
dtype: object

In [35]:
from sklearn.ensemble import GradientBoostingRegressor
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

In [36]:
import matplotlib.pyplot as plt
import seaborn as seabornInstance  
from sklearn import metrics
%matplotlib inline

In [37]:
X=data[['year_2','year_3','year_4','tenth','twelve','higher_education','take_notes','prefer_tostudy','hoursstudy','time_relaxing','active_backlogs','backlog_history','participate_activities','attendance','branch_ECE','branch_EEE','branch_EIE','branch_MEE','branch_Other','gender_Male','type_H','studymode_Class notes, Textbook','studymode_Online Tutorials','studymode_Online Tutorials, Class notes','studymode_Online Tutorials, Class notes, Textbook','studymode_Textbook','studymode_Online Tutorials, Textbook']]
Y=data['cgpa']

In [38]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2,random_state=0)

In [39]:
regressor = GradientBoostingRegressor(
    max_depth=4,
    n_estimators=3,
    learning_rate=0.3
)
regressor.fit(X_train, Y_train)

GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.3, loss='ls', max_depth=4,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=3,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=None, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [40]:
Y_pred = regressor.predict(X_test)

In [41]:
print('Mean Absolute Error:', metrics.mean_absolute_error(Y_test, Y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(Y_test, Y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(Y_test, Y_pred)))

Mean Absolute Error: 0.72510581094292
Mean Squared Error: 0.826826396081021
Root Mean Squared Error: 0.9092999483564381

In [42]:
#cross validation

In [43]:
from sklearn.model_selection import cross_val_score

In [44]:
regressor = GradientBoostingRegressor(max_depth=4,n_estimators=3,learning_rate=0.3)
scores = cross_val_score(regressor, X, Y, cv=10, scoring='neg_mean_squared_error')
print(-scores)

[1.74340631 0.64762321 0.58586585 0.67715948 0.85248892 0.86065301
 1.04491294 0.85922667 0.82345582 1.54957206]

In [45]:
rmse_scores = np.sqrt(-scores)
#print(rmse_scores)

In [46]:
print("Cross Validated  MSE: %f" % (-scores.mean()))
print("Cross Validated RMSE: %f" % (rmse_scores.mean()))

Cross Validated  MSE: 0.964436
Cross Validated RMSE: 0.966588