In [1]:
import numpy as np
import pandas as pd
import copy
from pandas import read_csv
filename='C:/Users/Chimata/Desktop/mlfinalyearproject/studentdetailsfinal.csv'
data = read_csv(filename)
data.head(5)

,year,branch,gender,type,tenth,twelve,higher_education,take_notes,prefer_tostudy,hoursstudy,time_relaxing,studymode,active_backlogs,backlog_history,participate_activities,attendance,cgpa,cgpaup,backlog,grade
0,4,CSE,Male,H,93.0,93.0,Maybe,No,Just before exam,0,>5 hours,Online Tutorials,4 & above,6,Occasionally,80-90,5.00,5.00,4,Low
1,4,CSE,Male,H,97.0,97.6,Maybe,Occasionally,Daily,1,2-5 hours,"Online Tutorials, Class notes, Textbook",0,0,Occasionally,above 90,9.27,9.27,0,Excellent
2,4,CSE,Male,D,88.0,94.2,Maybe,Occasionally,Just before exam,0,>5 hours,Class notes,0,4,Occasionally,80-90,6.20,6.20,0,Below_average
3,4,CSE,Male,D,88.0,96.7,Maybe,Yes,Daily,2,2-5 hours,"Online Tutorials, Class notes, Textbook",0,0,Always,above 90,7.36,7.36,0,Average
4,4,CSE,Male,H,97.0,93.5,No,No,Just before exam,0,>5 hours,"Online Tutorials, Class notes, Textbook",0,0,Occasionally,above 90,8.06,8.06,0,Good

In [2]:
data.shape

(562, 20)

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 562 entries, 0 to 561
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   year                    562 non-null    int64
 1   branch                  562 non-null    object
 2   gender                  562 non-null    object
 3   type                    562 non-null    object
 4   tenth                   562 non-null    float64
 5   twelve                  562 non-null    float64
 6   higher_education        562 non-null    object
 7   take_notes              562 non-null    object
 8   prefer_tostudy          562 non-null    object
 9   hoursstudy              562 non-null    int64
 10  time_relaxing           562 non-null    object
 11  studymode               562 non-null    object
 12  active_backlogs         562 non-null    object
 13  backlog_history         562 non-null    int64
 14  participate_activities  562 non-null    object
 15  attendance              562 non-null    object
 16  cgpa                    562 non-null    float64
 17  cgpaup                  562 non-null    float64
 18  backlog                 562 non-null    int64
 19  grade                   562 non-null    object
dtypes: float64(4), int64(4), object(12)
memory usage: 87.9+ KB

In [4]:
data.loc[data['tenth'] <=10, 'tenth'] = data['tenth']*10

In [5]:
data.loc[data['twelve'] <=10, 'twelve'] = data['twelve']*10

In [6]:
data.loc[data['twelve'] >100, 'twelve'] = data['twelve']/10

In [7]:
data.loc[data['cgpa'] >10, 'cgpa'] = data['cgpa']/10

In [8]:
data

,year,branch,gender,type,tenth,twelve,higher_education,take_notes,prefer_tostudy,hoursstudy,time_relaxing,studymode,active_backlogs,backlog_history,participate_activities,attendance,cgpa,cgpaup,backlog,grade
0,4,CSE,Male,H,93.0,93.0,Maybe,No,Just before exam,0,>5 hours,Online Tutorials,4 & above,6,Occasionally,80-90,5.00,5.00,4,Low
1,4,CSE,Male,H,97.0,97.6,Maybe,Occasionally,Daily,1,2-5 hours,"Online Tutorials, Class notes, Textbook",0,0,Occasionally,above 90,9.27,9.27,0,Excellent
2,4,CSE,Male,D,88.0,94.2,Maybe,Occasionally,Just before exam,0,>5 hours,Class notes,0,4,Occasionally,80-90,6.20,6.20,0,Below_average
3,4,CSE,Male,D,88.0,96.7,Maybe,Yes,Daily,2,2-5 hours,"Online Tutorials, Class notes, Textbook",0,0,Always,above 90,7.36,7.36,0,Average
4,4,CSE,Male,H,97.0,93.5,No,No,Just before exam,0,>5 hours,"Online Tutorials, Class notes, Textbook",0,0,Occasionally,above 90,8.06,8.06,0,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
557,2,Other,Male,D,90.0,80.0,Maybe,Occasionally,Just before exam,1,2-5 hours,"Online Tutorials, Class notes",0,0,Occasionally,75-80 %,8.50,8.50,0,Excellent
558,1,MEE,Male,D,98.0,97.0,No,No,Daily,1,>5 hours,"Class notes, Textbook",0,0,Occasionally,75-80 %,8.90,8.90,0,Excellent
559,3,EEE,Male,H,89.0,89.0,No,Yes,Just before exam,1,>5 hours,"Online Tutorials, Class notes, Textbook",2,0,Occasionally,75-80 %,7.50,7.50,2,Low
560,3,ECE,Male,H,89.0,90.0,Yes,No,Daily,0,>5 hours,Class notes,0,0,Occasionally,80-90 %,6.40,6.40,0,Below_average
561,1,ECE,Male,D,83.0,91.0,No,No,Just before exam,0,>5 hours,"Class notes, Textbook",4 & above,7,Always,75-80 %,4.30,4.30,4,Low

In [9]:
unique=data.nunique()
print(unique)

year                        4
branch                      6
gender                      2
type                        2
tenth                      60
twelve                    132
higher_education            3
take_notes                  3
prefer_tostudy              2
hoursstudy                  4
time_relaxing               3
studymode                   7
active_backlogs             5
backlog_history            19
participate_activities      3
attendance                  6
cgpa                      201
cgpaup                    201
backlog                     5
grade                       5
dtype: int64

In [10]:
data.isnull().any().sum()

0

In [11]:
data.year.value_counts()

4    273
3    109
1    102
2     78
Name: year, dtype: int64

In [12]:
data.branch.value_counts()

CSE      257
ECE      122
Other     68
MEE       52
EEE       38
EIE       25
Name: branch, dtype: int64

In [13]:
data=pd.get_dummies(data,columns=['branch'],drop_first=True)
data

,year,gender,type,tenth,twelve,higher_education,take_notes,prefer_tostudy,hoursstudy,time_relaxing,...,attendance,cgpa,cgpaup,backlog,grade,branch_ECE,branch_EEE,branch_EIE,branch_MEE,branch_Other
0,4,Male,H,93.0,93.0,Maybe,No,Just before exam,0,>5 hours,...,80-90,5.00,5.00,4,Low,0,0,0,0,0
1,4,Male,H,97.0,97.6,Maybe,Occasionally,Daily,1,2-5 hours,...,above 90,9.27,9.27,0,Excellent,0,0,0,0,0
2,4,Male,D,88.0,94.2,Maybe,Occasionally,Just before exam,0,>5 hours,...,80-90,6.20,6.20,0,Below_average,0,0,0,0,0
3,4,Male,D,88.0,96.7,Maybe,Yes,Daily,2,2-5 hours,...,above 90,7.36,7.36,0,Average,0,0,0,0,0
4,4,Male,H,97.0,93.5,No,No,Just before exam,0,>5 hours,...,above 90,8.06,8.06,0,Good,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
557,2,Male,D,90.0,80.0,Maybe,Occasionally,Just before exam,1,2-5 hours,...,75-80 %,8.50,8.50,0,Excellent,0,0,0,0,1
558,1,Male,D,98.0,97.0,No,No,Daily,1,>5 hours,...,75-80 %,8.90,8.90,0,Excellent,0,0,0,1,0
559,3,Male,H,89.0,89.0,No,Yes,Just before exam,1,>5 hours,...,75-80 %,7.50,7.50,2,Low,0,1,0,0,0
560,3,Male,H,89.0,90.0,Yes,No,Daily,0,>5 hours,...,80-90 %,6.40,6.40,0,Below_average,1,0,0,0,0
561,1,Male,D,83.0,91.0,No,No,Just before exam,0,>5 hours,...,75-80 %,4.30,4.30,4,Low,1,0,0,0,0

In [14]:
data.gender.value_counts()

Male      349
Female    213
Name: gender, dtype: int64

In [15]:
data=pd.get_dummies(data,columns=['gender','type','studymode'],drop_first=True)
data.head(5)

,year,tenth,twelve,higher_education,take_notes,prefer_tostudy,hoursstudy,time_relaxing,active_backlogs,backlog_history,...,branch_MEE,branch_Other,gender_Male,type_H,"studymode_Class notes, Textbook",studymode_Online Tutorials,"studymode_Online Tutorials, Class notes","studymode_Online Tutorials, Class notes, Textbook","studymode_Online Tutorials, Textbook",studymode_Textbook
0,4,93.0,93.0,Maybe,No,Just before exam,0,>5 hours,4 & above,6,...,0,0,1,1,0,1,0,0,0,0
1,4,97.0,97.6,Maybe,Occasionally,Daily,1,2-5 hours,0,0,...,0,0,1,1,0,0,0,1,0,0
2,4,88.0,94.2,Maybe,Occasionally,Just before exam,0,>5 hours,0,4,...,0,0,1,0,0,0,0,0,0,0
3,4,88.0,96.7,Maybe,Yes,Daily,2,2-5 hours,0,0,...,0,0,1,0,0,0,0,1,0,0
4,4,97.0,93.5,No,No,Just before exam,0,>5 hours,0,0,...,0,0,1,1,0,0,0,1,0,0

In [16]:
data.higher_education.value_counts()

Yes      261
Maybe    203
No        98
Name: higher_education, dtype: int64

In [17]:
data['higher_education'].replace(['Maybe','No','Yes'],[1,0,2],inplace=True)
data.head(5)

,year,tenth,twelve,higher_education,take_notes,prefer_tostudy,hoursstudy,time_relaxing,active_backlogs,backlog_history,...,branch_MEE,branch_Other,gender_Male,type_H,"studymode_Class notes, Textbook",studymode_Online Tutorials,"studymode_Online Tutorials, Class notes","studymode_Online Tutorials, Class notes, Textbook","studymode_Online Tutorials, Textbook",studymode_Textbook
0,4,93.0,93.0,1,No,Just before exam,0,>5 hours,4 & above,6,...,0,0,1,1,0,1,0,0,0,0
1,4,97.0,97.6,1,Occasionally,Daily,1,2-5 hours,0,0,...,0,0,1,1,0,0,0,1,0,0
2,4,88.0,94.2,1,Occasionally,Just before exam,0,>5 hours,0,4,...,0,0,1,0,0,0,0,0,0,0
3,4,88.0,96.7,1,Yes,Daily,2,2-5 hours,0,0,...,0,0,1,0,0,0,0,1,0,0
4,4,97.0,93.5,0,No,Just before exam,0,>5 hours,0,0,...,0,0,1,1,0,0,0,1,0,0

In [18]:
data.take_notes.value_counts()

Yes             276
Occasionally    198
No               88
Name: take_notes, dtype: int64

In [19]:
data['take_notes'].replace(['Occasionally','No','Yes'],[1,0,2],inplace=True)
data.head(5)

,year,tenth,twelve,higher_education,take_notes,prefer_tostudy,hoursstudy,time_relaxing,active_backlogs,backlog_history,...,branch_MEE,branch_Other,gender_Male,type_H,"studymode_Class notes, Textbook",studymode_Online Tutorials,"studymode_Online Tutorials, Class notes","studymode_Online Tutorials, Class notes, Textbook","studymode_Online Tutorials, Textbook",studymode_Textbook
0,4,93.0,93.0,1,0,Just before exam,0,>5 hours,4 & above,6,...,0,0,1,1,0,1,0,0,0,0
1,4,97.0,97.6,1,1,Daily,1,2-5 hours,0,0,...,0,0,1,1,0,0,0,1,0,0
2,4,88.0,94.2,1,1,Just before exam,0,>5 hours,0,4,...,0,0,1,0,0,0,0,0,0,0
3,4,88.0,96.7,1,2,Daily,2,2-5 hours,0,0,...,0,0,1,0,0,0,0,1,0,0
4,4,97.0,93.5,0,0,Just before exam,0,>5 hours,0,0,...,0,0,1,1,0,0,0,1,0,0

In [20]:
data.prefer_tostudy.value_counts()

Just before exam    411
Daily               151
Name: prefer_tostudy, dtype: int64

In [21]:
data['prefer_tostudy'].replace(['Just before exam','Daily'],[1,2],inplace=True)
data.head(5)

,year,tenth,twelve,higher_education,take_notes,prefer_tostudy,hoursstudy,time_relaxing,active_backlogs,backlog_history,...,branch_MEE,branch_Other,gender_Male,type_H,"studymode_Class notes, Textbook",studymode_Online Tutorials,"studymode_Online Tutorials, Class notes","studymode_Online Tutorials, Class notes, Textbook","studymode_Online Tutorials, Textbook",studymode_Textbook
0,4,93.0,93.0,1,0,1,0,>5 hours,4 & above,6,...,0,0,1,1,0,1,0,0,0,0
1,4,97.0,97.6,1,1,2,1,2-5 hours,0,0,...,0,0,1,1,0,0,0,1,0,0
2,4,88.0,94.2,1,1,1,0,>5 hours,0,4,...,0,0,1,0,0,0,0,0,0,0
3,4,88.0,96.7,1,2,2,2,2-5 hours,0,0,...,0,0,1,0,0,0,0,1,0,0
4,4,97.0,93.5,0,0,1,0,>5 hours,0,0,...,0,0,1,1,0,0,0,1,0,0

In [22]:
data.hoursstudy.value_counts()

1    244
0    151
2    119
3     48
Name: hoursstudy, dtype: int64

In [23]:
data.time_relaxing.value_counts()

2-5 hours    283
>5 hours     215
<2 hours      64
Name: time_relaxing, dtype: int64

In [24]:
data['time_relaxing'].replace(['>5 hours','2-5 hours','<2 hours'],[1,2,3],inplace=True)
data.head(5)

,year,tenth,twelve,higher_education,take_notes,prefer_tostudy,hoursstudy,time_relaxing,active_backlogs,backlog_history,...,branch_MEE,branch_Other,gender_Male,type_H,"studymode_Class notes, Textbook",studymode_Online Tutorials,"studymode_Online Tutorials, Class notes","studymode_Online Tutorials, Class notes, Textbook","studymode_Online Tutorials, Textbook",studymode_Textbook
0,4,93.0,93.0,1,0,1,0,1,4 & above,6,...,0,0,1,1,0,1,0,0,0,0
1,4,97.0,97.6,1,1,2,1,2,0,0,...,0,0,1,1,0,0,0,1,0,0
2,4,88.0,94.2,1,1,1,0,1,0,4,...,0,0,1,0,0,0,0,0,0,0
3,4,88.0,96.7,1,2,2,2,2,0,0,...,0,0,1,0,0,0,0,1,0,0
4,4,97.0,93.5,0,0,1,0,1,0,0,...,0,0,1,1,0,0,0,1,0,0

In [25]:
data.active_backlogs.value_counts()

0            460
4 & above     36
1             33
2             21
3             12
Name: active_backlogs, dtype: int64

In [26]:
data['active_backlogs'].replace(['4 & above','0','1','2','3'],[4,0,1,2,3],inplace=True)
data.head(5)

,year,tenth,twelve,higher_education,take_notes,prefer_tostudy,hoursstudy,time_relaxing,active_backlogs,backlog_history,...,branch_MEE,branch_Other,gender_Male,type_H,"studymode_Class notes, Textbook",studymode_Online Tutorials,"studymode_Online Tutorials, Class notes","studymode_Online Tutorials, Class notes, Textbook","studymode_Online Tutorials, Textbook",studymode_Textbook
0,4,93.0,93.0,1,0,1,0,1,4,6,...,0,0,1,1,0,1,0,0,0,0
1,4,97.0,97.6,1,1,2,1,2,0,0,...,0,0,1,1,0,0,0,1,0,0
2,4,88.0,94.2,1,1,1,0,1,0,4,...,0,0,1,0,0,0,0,0,0,0
3,4,88.0,96.7,1,2,2,2,2,0,0,...,0,0,1,0,0,0,0,1,0,0
4,4,97.0,93.5,0,0,1,0,1,0,0,...,0,0,1,1,0,0,0,1,0,0

In [27]:
data.backlog_history.value_counts()

0     422
1      45
2      15
3      12
4      12
5      12
7      10
6       8
12      5
8       5
10      4
11      3
9       2
18      2
19      1
13      1
14      1
16      1
21      1
Name: backlog_history, dtype: int64

In [28]:
data.participate_activities.value_counts()

Occasionally    346
Always          145
Never            71
Name: participate_activities, dtype: int64

In [29]:
data['participate_activities'].replace(['Occasionally','Always','Never'],[1,2,0],inplace=True)
data.head(5)

,year,tenth,twelve,higher_education,take_notes,prefer_tostudy,hoursstudy,time_relaxing,active_backlogs,backlog_history,...,branch_MEE,branch_Other,gender_Male,type_H,"studymode_Class notes, Textbook",studymode_Online Tutorials,"studymode_Online Tutorials, Class notes","studymode_Online Tutorials, Class notes, Textbook","studymode_Online Tutorials, Textbook",studymode_Textbook
0,4,93.0,93.0,1,0,1,0,1,4,6,...,0,0,1,1,0,1,0,0,0,0
1,4,97.0,97.6,1,1,2,1,2,0,0,...,0,0,1,1,0,0,0,1,0,0
2,4,88.0,94.2,1,1,1,0,1,0,4,...,0,0,1,0,0,0,0,0,0,0
3,4,88.0,96.7,1,2,2,2,2,0,0,...,0,0,1,0,0,0,0,1,0,0
4,4,97.0,93.5,0,0,1,0,1,0,0,...,0,0,1,1,0,0,0,1,0,0

In [30]:
data.attendance.value_counts()

80-90 %       227
above 90 %    158
75-80 %       155
80-90          11
above 90       10
75-80           1
Name: attendance, dtype: int64

In [31]:
data['attendance'].replace(['75-80 %','80-90 %','above 90 %','75-80','80-90','above 90'],[0,1,2,0,1,2],inplace=True)
data.head(5)

,year,tenth,twelve,higher_education,take_notes,prefer_tostudy,hoursstudy,time_relaxing,active_backlogs,backlog_history,...,branch_MEE,branch_Other,gender_Male,type_H,"studymode_Class notes, Textbook",studymode_Online Tutorials,"studymode_Online Tutorials, Class notes","studymode_Online Tutorials, Class notes, Textbook","studymode_Online Tutorials, Textbook",studymode_Textbook
0,4,93.0,93.0,1,0,1,0,1,4,6,...,0,0,1,1,0,1,0,0,0,0
1,4,97.0,97.6,1,1,2,1,2,0,0,...,0,0,1,1,0,0,0,1,0,0
2,4,88.0,94.2,1,1,1,0,1,0,4,...,0,0,1,0,0,0,0,0,0,0
3,4,88.0,96.7,1,2,2,2,2,0,0,...,0,0,1,0,0,0,0,1,0,0
4,4,97.0,93.5,0,0,1,0,1,0,0,...,0,0,1,1,0,0,0,1,0,0

In [32]:
data.active_backlogs.value_counts()

0    460
4     36
1     33
2     21
3     12
Name: active_backlogs, dtype: int64

In [33]:
data=pd.get_dummies(data,columns=['year'],drop_first=True)

In [34]:
data.tail(10)

,tenth,twelve,higher_education,take_notes,prefer_tostudy,hoursstudy,time_relaxing,active_backlogs,backlog_history,participate_activities,...,type_H,"studymode_Class notes, Textbook",studymode_Online Tutorials,"studymode_Online Tutorials, Class notes","studymode_Online Tutorials, Class notes, Textbook","studymode_Online Tutorials, Textbook",studymode_Textbook,year_2,year_3,year_4
552,90.0,88.0,2,2,1,2,1,0,0,1,...,0,0,0,0,1,0,0,0,0,1
553,83.0,63.0,1,2,2,2,2,0,0,1,...,0,0,1,0,0,0,0,0,0,1
554,90.0,88.0,2,2,1,2,1,0,0,1,...,0,0,0,0,1,0,0,0,0,1
555,95.0,85.0,1,1,2,0,1,1,2,1,...,1,0,0,0,0,0,0,0,1,0
556,86.0,88.0,0,2,1,0,1,4,3,0,...,1,1,0,0,0,0,0,1,0,0
557,90.0,80.0,1,1,1,1,2,0,0,1,...,0,0,0,1,0,0,0,1,0,0
558,98.0,97.0,0,0,2,1,1,0,0,1,...,0,1,0,0,0,0,0,0,0,0
559,89.0,89.0,0,2,1,1,1,2,0,1,...,1,0,0,0,1,0,0,0,1,0
560,89.0,90.0,2,0,2,0,1,0,0,1,...,1,0,0,0,0,0,0,0,1,0
561,83.0,91.0,0,0,1,0,1,4,7,2,...,0,1,0,0,0,0,0,0,0,0

In [35]:
data.shape

(562, 31)

In [36]:
data.dtypes

tenth                                                float64
twelve                                               float64
higher_education                                       int64
take_notes                                             int64
prefer_tostudy                                         int64
hoursstudy                                             int64
time_relaxing                                          int64
active_backlogs                                        int64
backlog_history                                        int64
participate_activities                                 int64
attendance                                             int64
cgpa                                                 float64
cgpaup                                               float64
backlog                                                int64
grade                                                 object
branch_ECE                                             uint8
branch_EEE                                             uint8
branch_EIE                                             uint8
branch_MEE                                             uint8
branch_Other                                           uint8
gender_Male                                            uint8
type_H                                                 uint8
studymode_Class notes, Textbook                        uint8
studymode_Online Tutorials                             uint8
studymode_Online Tutorials, Class notes                uint8
studymode_Online Tutorials, Class notes, Textbook      uint8
studymode_Online Tutorials, Textbook                   uint8
studymode_Textbook                                     uint8
year_2                                                 uint8
year_3                                                 uint8
year_4                                                 uint8
dtype: object

In [37]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as seabornInstance  
from sklearn import metrics
%matplotlib inline

In [38]:
from sklearn.metrics import mean_squared_error, r2_score

In [39]:
columns=['year_2','year_3','year_4','tenth','twelve','higher_education','take_notes','prefer_tostudy','hoursstudy','time_relaxing','backlog','backlog_history','participate_activities','attendance','branch_ECE','branch_EEE','branch_EIE','branch_MEE','branch_Other','gender_Male','type_H','studymode_Class notes, Textbook','studymode_Online Tutorials','studymode_Online Tutorials, Class notes','studymode_Online Tutorials, Class notes, Textbook','studymode_Textbook','studymode_Online Tutorials, Textbook']

In [40]:
X=data[columns]
Y=data['cgpaup']

In [41]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split( X, Y, test_size=0.20, random_state=0)

In [42]:
from sklearn.linear_model import LinearRegression

In [43]:
regressor = LinearRegression()

In [44]:
regressor.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [45]:
Y_pred= regressor.predict(X_test)
Y_pred

array([7.69547256, 8.34973109, 6.2916502 , 8.45860529, 8.10976456,
       6.92404712, 7.9680737 , 7.74702818, 7.98601814, 8.30830089,
       7.91182658, 5.23789993, 7.70436696, 5.22391864, 7.60602665,
       7.62275256, 8.12114425, 7.84642921, 8.46674147, 6.49649359,
       8.00465811, 7.42536282, 8.25492352, 6.43145373, 7.59649199,
       8.3738919 , 8.0724129 , 7.3416357 , 7.91735663, 8.3019973 ,
       8.18859539, 7.41382242, 7.31344288, 7.7392401 , 8.09358561,
       8.14047792, 5.62213764, 7.58036425, 7.31772908, 7.98934023,
       7.2921433 , 7.83790889, 7.74377412, 8.22111785, 7.51709431,
       8.44522754, 7.8589275 , 7.9066408 , 7.95850813, 8.59748376,
       7.62892585, 8.46506179, 7.90443749, 8.18077892, 8.64019259,
       7.70332624, 7.84023003, 8.67157496, 4.93307235, 7.91182658,
       7.56499289, 6.71994612, 7.42646312, 7.90069022, 7.82203995,
       8.65065593, 7.71768178, 8.53069171, 7.4753241 , 7.78320549,
       7.90741887, 8.37692397, 6.82011161, 5.12078461, 7.86076226,
       8.30351369, 7.73890958, 7.95658876, 7.40334591, 8.48151238,
       7.35464817, 7.77568095, 7.77688233, 7.79927152, 8.09157574,
       7.47697114, 7.41259278, 7.31923135, 8.39565033, 8.24885437,
       8.45368446, 7.84064808, 7.09890749, 8.09913524, 7.14309204,
       7.98772782, 7.6475467 , 7.40223725, 6.91333623, 8.28400492,
       7.6712832 , 7.77922841, 7.61248442, 8.70088201, 7.90174821,
       7.18100165, 8.10616216, 8.30540991, 7.77206367, 6.95892749,
       6.88969867, 8.3947558 , 8.56019572])

In [46]:
print('Mean Absolute Error:', metrics.mean_absolute_error(Y_test, Y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(Y_test, Y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(Y_test, Y_pred)))

Mean Absolute Error: 0.723271378985859
Mean Squared Error: 0.8125517120487611
Root Mean Squared Error: 0.9014165030931933

In [47]:
regressor.coef_

array([-0.00349144, -0.18844339, -0.23232531,  0.0247536 ,  0.01816364,
       -0.00725354,  0.1000599 ,  0.18717875, -0.02423293, -0.05219346,
       -0.50546391, -0.04819778,  0.15330577,  0.18449453, -0.15843885,
        0.1774126 , -0.3410246 ,  0.13784814, -0.12405002, -0.21942464,
       -0.28545588,  0.23847891,  0.31656072,  0.25086328,  0.22117097,
        0.62399782,  0.57546418])

In [48]:
regressor.intercept_

3.587487821721382

In [49]:
# column names with the coefficients
list(zip(columns, regressor.coef_))

[('year_2', -0.003491438524525455),
 ('year_3', -0.18844338723663906),
 ('year_4', -0.23232531483269964),
 ('tenth', 0.02475359975718383),
 ('twelve', 0.01816363919603268),
 ('higher_education', -0.0072535366347277795),
 ('take_notes', 0.10005990004789914),
 ('prefer_tostudy', 0.18717875295678665),
 ('hoursstudy', -0.024232934792531524),
 ('time_relaxing', -0.05219346190793867),
 ('backlog', -0.5054639137952515),
 ('backlog_history', -0.04819777682647658),
 ('participate_activities', 0.15330577467664924),
 ('attendance', 0.1844945301028755),
 ('branch_ECE', -0.15843884653296594),
 ('branch_EEE', 0.17741260023182404),
 ('branch_EIE', -0.3410246026511831),
 ('branch_MEE', 0.137848139916295),
 ('branch_Other', -0.12405002320969466),
 ('gender_Male', -0.2194246442138827),
 ('type_H', -0.285455878315961),
 ('studymode_Class notes, Textbook', 0.23847890860404566),
 ('studymode_Online Tutorials', 0.316560718886656),
 ('studymode_Online Tutorials, Class notes', 0.25086327978561307),
 ('studymode_Online Tutorials, Class notes, Textbook', 0.22117096737648653),
 ('studymode_Textbook', 0.6239978181829959),
 ('studymode_Online Tutorials, Textbook', 0.5754641812420707)]

In [50]:
#cross validation results

In [51]:
from sklearn.model_selection import cross_val_score

In [52]:
# 10-fold cross-validation with all  features
lm = LinearRegression()
scores = cross_val_score(lm, X, Y, cv=10, scoring='neg_mean_squared_error')
print(-scores)

[1.23604663 0.53823715 0.59052318 0.7026698  1.01931616 0.91951849
 0.87552726 0.85879096 0.64723042 1.39614795]

In [53]:
mse_scores=(-scores)

In [54]:
# convert from MSE to RMSE
rmse_scores = np.sqrt(mse_scores)
print(rmse_scores)

[1.11177634 0.73364647 0.76845506 0.83825402 1.00961188 0.95891527
 0.93569614 0.92670975 0.80450632 1.18158705]

In [55]:
print("Cross Validated  MSE: %f" % (mse_scores.mean()))
print("Cross Validated RMSE: %f" % (rmse_scores.mean()))

Cross Validated  MSE: 0.878401
Cross Validated RMSE: 0.926916